h1 {
    color: #27aedb;
    text-align: center;
    }
    
select {
    margin: 10px;
    padding: 10px;
    display: block;
    border-radius: 8px;
} 

label {
    margin: 10px;
    padding: 5px;
}

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bg-pink{
	background-color:pink;
}

.wrapper {
    width: 500px;
    padding: 0 10px;
    border: 2px solid rgb(233, 229, 229);
    background-color: rgb(253, 252, 252);
}